<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/img/kj.jpg" style="max-width: 30px;" alt="">
      <ion-label>Agents</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/img/cypher.jpg" style="max-width: 30px;" alt="">
      <ion-label>Weapons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/img/chamber.jpg" style="max-width: 30px;" alt="">
      <ion-label>Skins</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
